header{
    background-image: url(/images/Background.png);
    height: 500px;
    color: rgb(236, 236, 236);
    margin: 0%;
    border: 0%;
    background-size: 100%;
}
body{
    background-color: rgb(117, 117, 117);
    margin: 0%;
    border: 0%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 100%;
}
header h1{
    font-size: 55pt;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0%;
    padding-top: 100px;
    
}
header h2{
    font-size: 20pt;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0%;
}
header h3{
    font-size: 12pt;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0%;
}
nav{
    display: flex;
    justify-content: space-around;
    background-color: gray;
}
nav a{
    text-decoration: none;
    color: white;
    font-size: 18pt;
    height: 50px;
    padding-top: 20px;
}
nav a:hover{
    color: black;
    text-decoration: solid;
    transition: 0.7s;
}
